.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;

}

.menu-list li {
    padding: 10px;
}

.menu-area {
    display: flex;
    justify-content: center;

}

/* .search {
    display: flex;
    justify-content: flex-end;
} */